<footer id="maage-footer" class="bg-white mb-15">
    <div class="mx-auto max-w-7xl px-6 pt-20 pb-8 sm:pt-24 lg:pt-24 lg:pb-24">

        <div class="grid grid-cols-4 gap-12 xl:col-span-2">
            <!-- Info Column -->
            <div class="space-y-4 col-span-2">
                <h2 class="text-2xl font-poppins text-[#34383c]">MAAGE</h2>
                <div class="w-16 h-1 bg-[#64939a]"></div>
                <p class="text-[14px] font-noto-sans text-[#1c1f21]">
                    The MAAGE is a collaboration of the Illinois Department of Public Health, the University of
                    Illinois, and the U.S. Department of Energy's Argonne National Laboratory.
                </p>
                <div class="flex space-x-4">
                    <a href="#" class="text-[#34383c] hover:text-white transition-colors">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
                    </a>
                    <a href="#" class="text-[#34383c] hover:text-white transition-colors">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>
                    </a>
                    <a href="#" class="text-[#34383c] hover:text-white transition-colors">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
                    </a>
                    <a href="#" class="text-[#34383c] hover:text-white transition-colors">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
                    </a>
                </div>
            </div>
       <!-- Members Column -->
       <div class="mt-4">
        <h2 class="text-xl font-bold font-poppins text-[#34383c]">Members</h2>
        <div class="mt-4 mb-4 w-16 h-1 bg-[#64939a]"></div>
        <ul class="space-y-2">
            <li>
                <a href="#" class="text-[#34383c] font-noto-sans hover:text-white transition-colors">
                    IDPH
                </a>
            </li>
            <li>
                <a href="#" class="text-[#34383c] font-noto-sans hover:text-white transition-colors">
                    UIUC
                </a>
            </li>
            <li>
                <a href="#" class="text-[#34383c] font-noto-sans hover:text-white transition-colors">
                    ANL
                </a>
            </li>
        </ul>
    </div>

          <!-- Additional Links Column -->
    <div class="mt-4">
        <h2 class="text-xl font-bold font-poppins text-[#34383c]">Additional Links</h2>
        <div class="mt-4 mb-4 w-16 h-1 bg-[#64939a]"></div>
        <ul class="space-y-2">
            <li>
                <a href="#" class="text-[#34383c] text-lg font-noto-sans hover:text-[#436d5a] transition-colors">
                    Link 1
                </a>
            </li>
            <li>
                <a href="#" class="text-[#34383c] text-lg font-noto-sans hover:text-[#436d5a] transition-colors">
                    Link 2
                </a>
            </li>
            <li>
                <a href="#" class="text-[#34383c] text-lg font-noto-sans hover:text-[#436d5a] transition-colors">
                    Link 3
                </a>
            </li>
        </ul>
      </div>

      <div class="mt-10 xl:mt-0">
        <!-- Newsletter Column -->
        <div class="mt-4">
            <h2 class="text-xl font-bold font-poppins text-[#34383c]">Monthly Newsletter</h2>
            <div class="w-16 h-1 bg-[#64939a] mt-2 mb-4"></div>
            <p class="text-[14px] font-noto-sans text-[#1c1f21] mb-4">
                Sign up to keep up to date with MAAGE each month.
            </p>
            <form class="space-y-2">
                <input
                    type="email"
                    placeholder="Enter your email"
                    class="w-full bg-white border border-gray-300 text-[#1c1f21] placeholder-gray-500 p-2 rounded"
                />
                <button type="submit" class="w-full bg-[#64939a] hover:bg-[#34383c] text-white p-2 rounded transition-colors">
                    Subscribe
                </button>
            </form>
        </div>
    </div>
      </div>
    </div>
  </footer>