<div class="maage-genome-list-overview">


<div class="p-4 space-y-6">

  <div class="section">
    <h3 class="text-lg font-semibold text-gray-800 mb-2">Genomes by Isolation Source</h3>
    <div data-dojo-attach-point="ecIsolationSourceChartNode" class="w-full h-96 bg-white rounded-xl shadow p-4"></div>
  </div>

  <div class="section">
    <h3 class="text-lg font-semibold text-gray-800 mb-2">Genomes by Metadata</h3>
    <div class="gmSummaryWidget"
         data-dojo-attach-point="gmSummaryWidget"
         data-dojo-type="p3/widget/GenomeMetaSummary">
    </div>
  </div>

</div>


</div>